body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.main {
    margin: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    width: 25rem;
    height: 15rem;
}

.main h1{
    margin: 0;
}
.main p {
    margin: 1rem 0rem;
    font-weight: bolder;
    font-size: large; /* Reset margin for h1 and p within .main */
}

.calculate {
    background-color: #007BFF;
    width: 8rem;
    color: white;
    padding: .5rem;
}

#dob {
    margin: .8rem 0rem;
    width: 20rem;
}
